*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    background-color: #f1baca;
    max-width: 1440px;
    margin: auto;
}

a{
    text-decoration: none;
    color: #000;
}


/************************** MUSIC CONTROL *************************/
#music-control{
    position: fixed;
    right: 25px;
    top: 500px;
    z-index: 10;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

/************************* END MUSIC CONTROL ********************/

/*-------------------------- MENU---------------------------------*/
.menu{
    height: 50px;
    width: 100%;
    padding-top: 15px;
    margin-top: 19px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Lobster';
    position: relative;
    z-index: 2;
    color: #fff;
}

.menu-left{
    text-align: center;
    font-size: 20px;
    height: 50px;
    display: flex;
    flex-direction: row;
}
.menu-left > p{
    margin-left: 50px;
}
.menu-left > h4{
    font-size: 20px;
    font-weight: normal;
    margin-top: -15px;
}

.menu-right{
    margin-top: 5px;
}

.menu-right > ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
    gap: 90px;
    font-size: 20px;
}

.menu-right ul li {
    position: relative;
    display: inline-block;
}

.menu-right ul ul {
    position: absolute;
    display: none;
    list-style-type: none;
    top: 30px;
}
.menu-right ul li a{
    color: #fff;
    display: block;
}
/* .menu-right ul li:hover > ul{
    display: block;
    list-style-type: none;
} */
.menu-right ul ul li {
    width: 150px;
    float: none;
    display: list-item;
    position: relative;
}
#menu-hamburger{
    position: absolute;
    right: 0;
    height: 35px;
    width: 35px;
    display: none;
}
/*-------------------------- END MENU---------------------------------*/

/*-------------------------- HOME HEADER ---------------------------------*/
.home-header{
    z-index: 3;
    flex-grow: 0;
    background-image: url("../images/ring.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -84px;
    background-color: pink;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    color: #fff;
    font-family: 'Licorice';
    font-size: 70px;
    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    min-width: 100%;

}

.invitation-header{
    height: 809px;
    position: relative;
    z-index: 1;
}

#home-header-top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 84px;
}

#home-header-top > img {
    align-self: center;
    margin-left: -100px;
}


#home-header-bottom{
    text-align: center;
    margin-left: 50px;
}


/*-------------------------- END HOME HEADER ---------------------------------*/


/*-------------------------- HOME STORY ---------------------------------*/

.home-story{
    background-color: #f1baca;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

#home-story-top{
    text-align: center;
    font-size: 30px;
    max-width: 1200px;
    margin: auto;
}
#our-story-image{
    float: left;
}
#our-story {
    margin-top: 74px;
    margin-bottom: 65px;
}

#our-story > p{
    font-size: 30px;
    font-family: 'Lily Script One';
}
#our-story > h1{
    font-family: 'Licorice';
    font-size: 70px;
    margin-bottom: 42px;
    color: #fff;
    font-family: 'Licorice';
    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}
#home-story-top > div > img{
    width: 414px;
    height: 405px;
    margin-top: 128.5px;
    margin-right: 36px;
}

#home-story-bottom{
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 1190px;
    align-self: center;
    margin-bottom: 158px;
}
#home-story-bottom > p {
    font-size: 30px;
    font-family: 'Lily Script One';
    margin-bottom: 50px;
}

.home-story-back-pic{
    position: absolute;
}
.flowers{
    width: 166.8px;
    height: 166.8px;
}
.hearts{
    width: 89.3px;
    height: 94px;
}
#heart-1{
    top: 408px;
    left: 90px;
}
#heart-2{
    top: 876px;
    left: 52px;
}
#heart-3{
    top: 1197px;
    right: 44px
}
#heart-4{
    top: 1692px;
    left: 85px;
}
#flower-1{
    top: 464px;
    left: 346px;
}
#flower-2{
    top: 1287px;
    left: 323px;
}
#flower-3{
    top: 1658px;
    right: 44px;
}



/*-------------------------- END HOME STORY ---------------------------------*/

/*-------------------------- COUNTDOWN ---------------------------------*/
#countdown{
    background-image: url('../images/countdown-background.png');
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: 'Lily Script One';
    gap: 25px;
    padding: 100px 0px;
}
#countdown > div > a > p {
    font-size: 30px;
    color: #eabe81;
    padding: 14px 10px;
    border-radius: 8px;
    background-color: #fff;
}
#countdown div div img{
    width: 73px;
    height: 73px;
    margin-left: 25px;
}
#save-the-date-gif {
    width: 226px;
    height: 193px;
}
#countdown-localisation{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
#countdown-localisation > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 41px;
}
#countdown-localisation p {
    font-size: 30px;
}
#countdown-localisation h4{
    font-weight: normal;
    color: #fff;
    font-size: 55px;
    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
}

#time-countdown{
    display: flex;
    flex-direction: row;
    font-family: 'Libre Caslon Text';
    font-size: 40px;
    gap: 50px;
    justify-content: center;
}
#time-item{
    display: flex;
    flex-direction: column;
}


/*--------------------------END COUNTDOWN ---------------------------------*/

/*-------------------------- WEDDING PROGRAM ---------------------------------*/
#wedding-program-home{
    background-color: #f1baca;
    font-family: 'Lily Script One';
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    padding: 56px 0px 160px 0px;
}

#wedding-program-top{
    position: absolute;
    top: 0;
    left: 0;
}
#wedding-program-home > h1{
    font-size: 55px;
    text-align: center;
    align-self: center;
    color: white;
}
#wedding-program-top > img{
    width: 263px;
    height: 184px;
    align-self: flex-start;
}

#wedding-program-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
}


#wedding-program-bottom > img{
    width: 263px;
    height: 184px;
    z-index: 1;
    margin-top: -30px;
    float: right;

}
#wedding-program-home > div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#wedding-program-mid{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 209px;
    font-size: 30px;
    color: white;
    margin-top: 59px;
}

#wedding-program-mid > div{
    text-align: center;
    background-color: #6f9d86;
    width: 186px;
    height: 186px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    box-shadow: 8px 5px 5px 0 rgba(0, 0, 0, 0.25);

}

#wedding-program-home-links{
    display: flex;
    flex-direction: row;
    gap: 500px;
}

#wedding-program-home  div  a  p{
    background-color: #fff;
    margin-top: 82px;
    padding: 25px 25px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    z-index: 2;
    color: #c48a32;
}


/*-------------------------- END WEDDING PROGRAM ---------------------------------*/







/*######################################## END HOME PAGE ###########################################*/


/*######################################## GALLERY PAGE ###########################################*/

/*---------------------------------- ALBUM HEADER -------------------------------*/

#album-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 154px auto 0px auto;

}
#album-header >h1{
    font-family: 'Lily Script One';
    font-size: 50px;
    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
    font-weight: normal;
    color: #fff;
}

#acknowlegments{
    max-width: 1150px;
    margin-top: 45px;
    padding-bottom: 50px;
    background-color: #6f9d86;
    border-radius: 27px;
    font-family: 'Licorice';
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#acknowlegments >h1{
    font-size: 60px;
    font-weight: normal;
}
#acknowlegments > p {
    font-size: 40px;
}

#album-header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    gap: 420px;
    margin-top: 56px;
    margin-bottom: 25px;
    text-align: center;

}
#album-header-links-img{
    position: absolute;
    width: 162.3px;
    height: 162.3px;
}
#album-header-links >p{
    font-size: 25px;
    padding: 20px 15px;
    font-family: 'Lily Script One';
    background-color: #fff;
    color: #c48a32;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

/*---------------------------------- END ALBUM HEADER ----------------------------*/

/*---------------------------------- ALBUM PICTURES -------------------------------*/
#pictures{
    display: grid;
    grid-template-columns: repeat(auto-fill, 270px);
    justify-content: center;
    gap: 25px;
    margin: 56px 50px 250px 50px;
    border-radius: 50px;
    padding-top: 92px;
    padding-bottom: 500px;
    background-color: #fff;
}
#pictures > img{
    width: 270px;
    height: 250px;
}
/*---------------------------------- END ALBUM PICTURES -------------------------------*/


/*######################################## END GALLERY PAGE ###########################################*/



/*######################################## PROGRAM ###########################################*/
#wedding-program{
    width: 1105.1px;
    height: 1635px;
    margin: auto;
    background-image: url("../images/flower-cadre-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 78px;

}

#inner-program{
    background-size: cover;
    margin-top: 190px;
    margin-right: 20px;
    padding-top: 49.5px;
    display: flex;
    flex-direction: column;
}
#inner-program > h1{
    margin-bottom: 50px;
    font-size: 50px;
    font-family: 'Milonga';
    font-weight: normal;
    color: #c48a32;
}
.program-row{
    font-family: 'Metal';
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.program-row > div {
    position: relative;

}

.program-row > p{
    width: 397.5px;
    height: 174px;
    font-size: 20px;
    background-color: #6f9d86;
    color: #fff;
    padding: 25px 10px;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.program-row > div > h2{
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    bottom: 50%;
    left: 0;
    right : 0;
    width: 100%;
    text-align: center;

}
.program-row > img{
    width: 233.5px;
    height: 233.5px;
}

#program-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-align: center;
    font-size: 25px;
    font-family: 'Milonga';
}
#program-bottom > div > img{
    width: 150px;
    height: 140px;
}
#program-bottom > div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.see-location{
    width: 191px;
    height: 39px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    margin-left: 510px;
    margin-top: -30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.thanks{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Metal';
    font-size: 70px;
    margin-bottom: 100px;
}
.thanks > img {
    width: 174px;
    height: 171px;
}
.thanks > h1{
    font-family: 'Metal';
    font-size: 70px;
    font-weight: normal;
}



/*######################################## END PROGRAM ###########################################*/



/*######################################## REGISTRATION ###########################################*/

.registration-content{
    width: 1233px;
    margin: auto;
    background-color: #fff;
    display: flex;
    gap: 0px;
    margin-top: 173px;
    margin-bottom: 222px;
    font-family: 'Metal';
}
.registration-panel{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    text-align: center;
    gap: 80px;
    width: 50%;
    background-image: linear-gradient(147deg, #ed6080 3%, #f5a1b1 94%);
}
.registration-title{
    margin-top: 180px;
    font-size: 40px;
    color: white;
}
.registration-links{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 145px;
    margin-bottom: 32px;
}
.registration-links > p{
    font-family: 'Lily Script One';
    font-size: 20px;
    color: #c48a32;
    background-color: #fff;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    padding: 10px;
}

.next{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    font-size: 30px;
}

.registration-form{
    width: 50%;
}

.registration-form > form{
    color: #c48a32;
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-family: 'Metal';
    font-size: 25px;
    margin-left: 70px;
}

.registration-form > form > div{
    width: 85%;
}

.registration-form > form > p{
    color: #000;
    font-size: 20px;
    margin-top: -30px;
}
.registration-form > h1{
    font-size: 35px;
    color: #c48a32;
    font-weight: normal;
    text-align: center;
    margin-top: 25px;
}

input[type=text],input[type=file],select{
    height: 49px;
    font-size: 25px;
    border: solid 1px black;
    width: 100%;
    border-radius: 8px;
    display: block;
    color: #c48a32;
}
.buttonSend, input[type=submit]{
    color: #fff;
    width: 168px;
    height: 43px;
    flex-grow: 0;
    border-radius: 8px;
    background-image: linear-gradient(100deg, #ed6080 11%, #f5a1b1 94%);
    margin-left: 350px;
    font-size: 25px;
    font-family: 'Metal';
}

.radios{
    display: grid;
    grid-template-columns: repeat(2,200px);
    margin-top: 25px;

}
input[type=radio]{
    width: 12px;
}
.names {
    display: grid;
    grid-template-columns: repeat(2,224px);
    gap: 30px;
}
.names > div > input{
    width: 224px;
}

#for-single-pic{
    width: 415.5px;
    height: 367px;
}
/*######################################## END REGISTRATION ###########################################*/










/*######################################## INFORMATION ###########################################*/

#my-information{
    width: 994px;
    margin: auto;
}
#my-information > h1{
    font-family: 'Lily Script One';
    font-size: 50px;
    color: #fff;
    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
    text-align: center;
    margin-top: 156px;
}

.user-pic{
    width: 192px;
    height: 192px;
    border-radius: 25%;
}

#inner-information{
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 40px;
    box-shadow: 10px 6px 5px 0 rgba(0, 0, 0, 0.25);
    display: flex;
    gap: 0px;
    margin-bottom: 216px;
    margin-top: 85px;
    font-family: 'Milonga';
}

#qr-code-block{
    width: 49%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 25px;
}

.nb{
    text-align: justify;
    margin-right: 70px;
    font-size: 20px;
}


#infos-form{
    width: 51%;
    border-radius: 40px;
    box-shadow: -8px 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: #6f9d86;
    padding: 40px 0px;
}

#infos-form > form{
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'Metal';
    font-size: 25px;
    margin-left: 70px;
}

#infos-form > form > div{
    width: 385px;
}
.infos-input{
    background-color: #d9d9d9;
}
#information-page-bottom{
    background-color: rgba(218, 22, 108, 0.4);
    padding: 70px 0px;
    color: #eabe81;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 30px;
    font-family: 'Lily Script One';
}

#information-page-bottom > img{
    width: 365px;
    height: 365px;
}

#information-page-bottom > p{
    padding: 25px 15px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
}

.filler{
    height: 124px;
}

/*######################################## END INFORMATION ###########################################*/


/*######################################## INVITATION ###########################################*/

.invitation-links{
    display: flex;
    flex-direction: column;
    gap: 96px;
    font-family: 'Lily Script One';
    font-size: 25px;
    margin-bottom: 4em;
}
.opposite-hearts{
    margin-top: 153.2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 897.5px;
}
.opposite-hearts > img {
    width: 162.3px;
    height: 162.3px;
}
.invitations-links-bottom{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 496px;
}
.invitations-links-bottom > a > p{
    color: #eabe81;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 9px 25px;
}

/******************************** INVITATION CARD *****************************/

.marriage-invitation{
    background-size: cover;
    width: 820px;
    height: 1080px;
    position: absolute;
    top: 132px;
    right: 300px;
}
#public-invitation{
    background-image: url('../images/invitation-public.png');
}
#private-invitation{
    background-image: url('../images/invitation-private.png');
}



/******************************** END INVITATION CARD *****************************/

#public-invitation-bottom{
    background-color: rgba(218, 22, 108, 0.4);
    display: flex;
    align-items: center;
    gap: 174px;
}
#public-invitation-bottom > div{
    display: flex;
    flex-direction: column;
    gap: 46px;
}

#public-invitation-bottom > img{
    width: 619px;
    height: 531px;
}
#public-invitation-bottom > div > a > p {
    font-family: 'Lily Script One';
    font-size: 30px;
    background-color: #fff;
    color: #eabe81;
    padding: 10px 20px;
    border-radius: 8px;
}
#public-invitation-bottom > div > a{
    margin: auto;
}
#public-invitation-bottom > div > p{
    font-family: 'Licorice';
    font-size: 55px;
}

#invitation-confirmation-form{
    display: flex;
    flex-direction: column;
    color: #fff;
    margin-right: 74px;
}
#invitation-confirmation-form > p{
    margin-left: 50px;
}
#invitation-confirmation-form > form{
    font-family: 'Lily Script One';
    font-size: 20px;
}
#invitation-confirmation-form > form > p{
    font-size: 30px;
    margin-bottom: 32px;
    margin-left: 50px;
}
#invitation-confirmation-form > form > input[type=submit]{
    color: #000;
    margin-top: 40px;
}

/*######################################## END INVITATION ###########################################*/

/*######################################## ABOUT US ###########################################*/

#about-body{
    background-image: url('../images/about-background.png');
    background-size: cover;
    background-repeat: no-repeat;
}
.hotel-reservation-content{
    margin: auto;
    margin-top: 60px;
    display: flex;
    gap: 50px;
}
.hotel-reservation-content > img{
    width: 567px;
    height: 554.7px;
    float: left;
}
.reservation-prices{
    font-family: 'Metal';
    color: #fff;
    font-size: 30px;
    margin-top: 100px;
}
.reservation-prices p{
    margin-bottom: 15px;
}
.reservation-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    margin-top: 100px;
}
.reservation-contact > h3{
    font-family: 'Metal';
    font-size: 25px;
    font-weight: normal;
    line-height: 1.7em;
}
#hotel-reservation{
    padding-top: 125px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#hotel-reservation >h1{
    font-family: 'Lily Script One';
    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
    font-size: 50px;
    color: white;
}
#hotel-reservation >p{
    font-family: 'Metal';
    font-size: 25px;
    color: white;
    border-radius: 20px;
    box-shadow: 10px 5px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #f1baca;
    padding: 22px 42px;
    margin: 100px 0px;
}
.hotel > h1{
    font-family: 'Metal';
    font-weight: normal;
    font-size: 40px;
    color: white;
}
/* #hotel-right{
    font-family: 'Metal';
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
    margin-top: 90px;
}
#hotel-right > p{
    line-height: 1.5em;
    font-size: 25px;
    color: white;
} */
.hotel-reservation-location{
    width: 191px;
    height: 39px;
    font-size: 20px;
    border-radius: 8px;
    box-shadow: 5px 5px 5px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}


#money-donation{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 290px;
}
#money-donation > h1{
    font-family:'Lily Script One';
    font-size: 50px;
    text-shadow: 15px 8px 5px rgba(0, 0, 0, 0.25);
    color: #fff;
    margin-bottom: 100px;
}

#donation-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 233px;
}
.donation-item{
    width: 488px;
    height: 378px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    font-family: 'Metal';
    font-size: 25px;
    border-radius: 10px;
    box-shadow: 6px -6px 5px 0 rgba(0, 0, 0, 0.3);
    background-color: #f1baca;
    padding: 20px 0px;
}
.donation-item-title{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 30px;
    color: #fff;
}
.donation-item-title img{
    width: 44px;
    height: 44px;
}
.donation-item-name{
    color: #fff;
}
.donation-item-info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    padding: 0px 15px;
    box-shadow: 8px 5px 5px 0 rgba(0, 0, 0, 0.25);
}
.donation-item-info > p:has(a){
    padding: 10px 15px;

}
.donation-item-info img{
    width: 87px;
    height: 51px;
}

/*######################################## END ABOUT US ###########################################*/


/*-------------------------- FOOTER ---------------------------------*/
footer{
    min-height: 115px;
    max-width: none;
    font-family: 'Lohit Bengali';
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.7);
}
.contact{
    font-size: 15px;
    text-align: center;
    margin-top: 16px;
    color: #565252;
}
.copyright{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0px;
    margin-top: 13px;
    text-align: center;
}
.copyright > h1{
    color: #565252;
    font-size: 13px;
    margin-right: 2px;
}


/*-------------------------- END FOOTER ---------------------------------*/

