<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} Home {% endblock %}</title>
    <link rel="stylesheet" href="{{ asset('front/css/jord.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Licorice">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lobster">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Metal">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Milonga">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lohit Bengali">
    <link href='https://fonts.googleapis.com/css?family=Lily Script One' rel='stylesheet'>
</head>
<body>
<nav>
    <div class="container menu">
        <div class="menu-left">
            <h4>#JoeFoundHis<br>Crystal</h4>
            <p>Home</p>
        </div>
        <div class="menu-right">
            <ul>
                <li>Invitation</li>
                <li>Program</li>
                <li>Gallery</li>
                <li>Registration</li>
            </ul>
        </div>

    </div>
</nav>
{% block body %}{% endblock %}
</body>

<footer>
    <div class="contact">
        <p>Contact Us : <br> +24 1 784820396 / +234 112 202 49 33</p>
    </div>
    <div class="copyright">
        <h1>2022 </h1>
        <p>JoeFoundHisCrystal. AllRights Reserved</p>
    </div>

</footer>
</html>